@page
@model cars.Pages_cars1.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cars1</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.BuildYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.BuildYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Engine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Engine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Features)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Features)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars1.Colour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars1.Colour)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cars1.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
